<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h4 style="color:#587e76">this is an index page after years.</h4>
    {% if user.is_authenticated %}
        <div>Welcome {{ user.username }}</div>
        <div><a href="{% url 'account_logout' %}">LogOut</a></div>
    {% else %}
        <div><a href="{% url 'account_login' %}">Login</a></div>
        <div>please login</div>
    {% endif %}
    <h5><a href="{% url 'account_signup' %}">signup</a></h5>
</body>
</html>